@charset "UTF-8";

* {
    box-sizing: border-box;
}

.slogan {
    text-align: center;
}

.title {
    text-align: center;
}

.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}



.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputbox-weight {
    text-align: right;
    width: 3em;
}

.generate-btn {
    margin: auto;
}

.inputbox-number {
    width: 3em;
}
