@charset "UTF-8";

* {
    box-sizing: border-box;
}

html, body {   
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.slogan {
    text-align: center;
    flex-shrink: 0;
}

.title {
    text-align: center;
    flex-shrink: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* bottom: 0; */
}

table {
    font-size: 2em;
    border-spacing: 0px;
}
table input[type=text] {
    font-size: 1em;
    border: 0;
}

table input[type=checkbox] {
    zoom: 2;
}

th {
    padding: 0 15px;
    margin: 0 20px;
}
th * {
    padding: 10px;
    border-bottom: 1px solid grey;
}

td {
    border-bottom: 1px solid grey;
    padding: 5px 15px;
}

.input-container {
    padding: 50px;
    border-right: 1px solid grey;
    overflow: auto;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px;
    overflow: auto;
}

.inputbox-name {
    width: 5em;
}

.inputbox-weight {
    text-align: right;
    width: 3em;
}

.generate-btn {
    /* display: block; */
    width: 15em;
    padding: 0.5em;
    margin: auto;
}

.inputbox-number {
    width: 3em;
}
